<h2>组件交互</h2>

<app-pass-by-input [title]="title1" [heroes]="heroes"></app-pass-by-input>

<app-pass-by-setter
  [title]="title2"
  [name]="noNameHero.name"
></app-pass-by-setter>

<button type="button" (click)="newMinor()">New minor version</button>
<button type="button" (click)="newMajor()">New major version</button>
<app-pass-by-ngonchanges
  [title]="title3"
  [major]="major"
  [minor]="minor"
></app-pass-by-ngonchanges>

<h3>{{ title4 }}</h3>
<p>Agree: {{ agreed }}, Disagree: {{ disagreed }}</p>
<app-pass-by-emits
  *ngFor="let hero of heroes"
  [name]="hero.name"
  (voted)="onVoted($event)"
></app-pass-by-emits>

<h3>{{ title5 }}</h3>
<p>火箭发射倒计时：{{ timer.seconds }}</p>
<button type="button" (click)="timer.start()">Start</button>
<button type="button" (click)="timer.stop()">Stop</button>
<app-pass-by-localvar #timer></app-pass-by-localvar>
